@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background: linear-gradient(111deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 100%), #0E1012;
  color: #FFF;
}


.sideBar_custom_class {
  border: 1px solid rgba(255, 255, 255, 0.16);
  background: var(--light-dark-1004, rgba(255, 255, 255, 0.04));
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.08) inset;
  backdrop-filter: blur(48px);
}